:root {
    --butter: lightgoldenrodyellow;
    --text: red;
    --accent:darkcyan;
    --blendBorder: rgb(190, 190, 184);
    --background: cadetblue;
    --sign: #02a480;
    --signtext: white;
    --signaccent: orange;
  }

body {
    background:var(--background);
    font-size: 26px;
}

.tc {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.full-center {
    justify-content: center;
    align-items: center;
}

.font-xs {
    font-size: 1vw;
}

.font-s {
    font-size: 2vw;
}

.font-m {
    font-size: 3vw;
}

.font-l {
    font-size: 4vw;
}

.font-xl {
    font-size: 5vw;
}

.font-xxl {
    font-size: 7vw;
}

.font-xxxl {
    font-size: 10vw;
}

.butter {
    background-color: var(--butter);
    outline: .03rem solid var(--blendBorder);
}

.smalltext {
    margin-top: .5vw;
}

.text {
    color:var(--text)
}

.invisible {
   display: none !important;
}

.arrow {
    display: flex;
    justify-content: center;
}

.arrowPath {
    fill: var(--accent);
    stroke: black;
    stroke-width: .3rem;
}

.arrowPath:hover {
    stroke-width: .6rem;
}

.sliverTop {
    margin-top: .125rem;
}

.sliverBottom {
    margin-bottom: .125rem;
}

.sliceTop {
    align-self: end;
}

#content {
    min-width: max-content;
}

.jar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.measurement {
    display: grid;
    grid-template-rows: repeat(8, minmax(0, 1fr));
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.tbsp {
    grid-row: 1/5;
    writing-mode: tb;
    padding-right: 36%;
    border-top: .15rem solid;
    border-bottom: .15rem solid;
    border-right: .15rem solid;
}

.tbsp1 {
    grid-column: 1/2;
    border-left: .15rem solid;
}

.tbsp2 {
    grid-column: 2/3;
}

.tbsp3 {
    grid-column: 3/4;
}

.tbsp4 {
    grid-column: 4/5;
}

.tbsp5 {
    grid-column: 5/6;
}

.tbsp6 {
    grid-column: 6/7;
}

.tbsp7 {
    grid-column: 7/8;
}

.tbsp8 {
    grid-column: 8/9;
}

.cups {
    grid-column: 1/-1;
    background-color: var(--text);
    color: var(--butter);
    border-top-left-radius: 100000rem;
    border-top-right-radius: 100000rem;
}

.quartercup1 {
    grid-column: 1/5;
}

.quartercup2 {
    grid-column: 5/9;
}

.thirdcup {
    width: 66%;
}

.retail{
    grid-row: 7/9;
    grid-column: 1/-1;
}

.bold {
    font-weight: bold;
}

.side-face {
    width: 86vw;
    height: 90vw;
}

.horizontal-face {
    width: 88vw;
    height: 22vw;
}

.vertical-face {
    width: 88vw;
    height: 21vw;
    margin-bottom: .5vw;
    margin-top: .5vw;
}

.sign {
    font-family: sans-serif;
    font-weight: bold;
    color: var(--signtext);
    background-color: var(--sign);
    display: grid;
    max-width: 80%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-template-areas:
    "empty exit"
    "directions directions"
    "directions directions"
    "directions directions"
    "directions directions"
    "speed speed";
}

.directions {
    grid-area: directions;
    display: grid;
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-areas:
    "number cardinal ."
    "number cardinal arrow"
    "number . arrow"
    "destination destination arrow"
    "destination destination .";
}

.empty {
    grid-area: empty;
    background-color: var(--background);
}

.interstate {
    grid-area: number;
}

.cardinal {
    grid-area: cardinal;
}

.destination {
    grid-area: destination;
}

.arrow {
    grid-area: arrow;
}

.exit {
    grid-area: exit;
    align-items: center;
}

.number {
    font-size: 5rem;
}

.hat {
    border-radius: 1rem 1rem 0 0;
}

.littlehat {
    border: .4rem solid var(--signtext);
    border-bottom: none;
}

.bighat {
    border: .6rem solid var(--signtext);
    border-bottom: none;
    border-radius: 1rem 0 0 0;
}

.speed {
    grid-area: speed;
    background-color: var(--signaccent);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.route svg {
    height: 13vw;
}