<div id="jar" class="jar text">
    {{ partial "arrow.html" "up"}}
        <div contenteditable='true' spellcheck="false" id="front" class="front horizontal-face visible flexcolumn butter">
            {{ partial "twoface.html" . }}
        </div>
        <div contenteditable='true' spellcheck="false" id="bottom" class="font-s invisible vertical-face measurement tc butter bold">
            {{ range .Site.Params.tbsps }}
                <div class="tbsp font-ms tbsp{{.}}"> {{.}} TBSP </div>
            {{ end }}
            <div class="quartercup1 cups smalltext">{{ .Site.Params.quartercup }}</div>
            <div class="quartercup2 cups smalltext">{{ .Site.Params.quartercup }}</div>
            <div class="thirdcup cups smalltext">1/3 CUP</div>
            <div class="tc retail text sliceTop sliverBottom smalltext font-ms">THIS UNIT IS NOT LABELED FOR INDIVIDUAL RETAIL</div>
        </div>
        <div contenteditable='true' spellcheck="false" id="back" class="invisible back horizontal-face flexcolumn butter">
            {{ partial "twoface.html" . }}
        </div>
        <div contenteditable='true' spellcheck="false" id="top" class="invisible vertical-face flexcolumn butter">
            {{ partial "top.html" . }}
        </div>
    {{ partial "arrow.html" "down"}}
</div>
<script>
    const faces = ["front", "top", "back", "bottom"];
    var currentFaceIndex = 0;
    function add(a, b) {
        return a + b;
    }

    function subtract(a, b) {
        return a - b;
    }

    function makeVisible(element) {
        element.classList.replace("visible", "invisible")
    }

    function makeInvisible(element) {
        element.classList.replace("invisible", "visible")
    }

    function rotate(direction) {
        var visibleFace = document.getElementById(faces[currentFaceIndex]);
        if (direction == "up") {
            currentFaceIndex = findFace(add);
        } else {
            currentFaceIndex = findFace(subtract);
        }
        makeVisible(visibleFace);
        makeInvisible(document.getElementById(faces[currentFaceIndex]));
    }

    function findFace(operation) {
        var newIndex = operation(currentFaceIndex, 1);
        if (newIndex >= faces.length) {
            newIndex = 0;
        } else if (newIndex < 0) {
            newIndex = subtract(faces.length, 1);
        }
        return newIndex;
    }
</script>
