<div class="sign" contenteditable="true">
    <div class="empty"></div>
    <div class="exit flex hat">
        <div class="exit-text">EXIT</div>
        <div class="flex number justify-around">
            <div>1</div>
            <div>C</div>
        </div>
    </div>
    <div class="directions hat hard-corner-hat">
        <div class="interstate flex full-center">
            <div class="header">INTERSTATE</div>
            <div class="number">43</div>
        </div>
        <div class="cardinal flex full-center">NORTH</div>
        <div class="destination flex full-center">Green Bay</div>
        <div class="arrow">arrowtbd</div>
    </div>
    <div class="speed">
        40 MPH
    </div>
</div>