:root {
    --butter: lightgoldenrodyellow;
    --text: red;
    --accent:darkcyan;
    --blendBorder: rgb(190, 190, 184);
    --background: cadetblue;   
  }

body {
    background:var(--background);
    font-size: 26px;
}

.tc {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.butter {
    background-color: var(--butter);
    outline: .03rem solid var(--blendBorder);
}

.butterText {
    font-size: 4rem;
}

.smalltext {
    font-size: .65rem;
    margin-top: .25rem;
}

.text {
    color:var(--text)
}

.invisible {
   display: none !important; 
}

.arrow {
    display: flex;
    justify-content: center;
}

.arrowPath {
    fill: var(--accent);
    stroke: black;
    stroke-width: .3rem;
}

.arrowPath:hover {
    stroke-width: .6rem;
}

.sliverTop {
    margin-top: .125rem;
}

.sliverBottom {
    margin-bottom: .125rem;
}

.sliceTop {
    margin-top: .75rem;
}

#content {
    min-width: max-content;
}

.butterjar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.measurement {
    display: grid;
    grid-template-rows: repeat(8, minmax(0, 1fr));
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.tbsp {
    grid-row: 1/5;
    writing-mode: tb;
    padding-right: 36%;
    border-top: .15rem solid;
    border-bottom: .15rem solid;
    border-right: .15rem solid;
}

.tbsp1 {
    grid-column: 1/2;
    border-left: .15rem solid;
}

.tbsp2 {
    grid-column: 2/3;
}

.tbsp3 {
    grid-column: 3/4;
}

.tbsp4 {
    grid-column: 4/5;
}

.tbsp5 {
    grid-column: 5/6; 
}

.tbsp6 {
    grid-column: 6/7; 
}

.tbsp7 {
    grid-column: 7/8; 
}

.tbsp8 {
    grid-column: 8/9; 
}

.cups {
    grid-column: 1/-1;
    background-color: var(--text);
    color: var(--butter);
    border-top-left-radius: 100000rem;
    border-top-right-radius: 100000rem;
}

.quartercup1 {
    grid-column: 1/5;
}

.quartercup2 {
    grid-column: 5/9;
}

.thirdcup {
    width: 66%;
}

.text {
    font-size: .85rem;
}

.jar {
    grid-row: 7/9;
    grid-column: 1/-1;
}

.bold {
    font-weight: bold;
}

.side-face {
    width: 114px;
    height: 120px;
}

.horizontal-face {
    width: 453px;
    height: 120px;
}

.vertical-face {
    width: 453px;
    height: 114px;
    margin-bottom: 3px;
    margin-top: 3px;
}
